.form-add-nota {
    position: relative;
    width: 90%;
    left: 5%;
    margin: 20px 0;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-add-nota {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.form-add-nota > * {
    outline: none;
}

.form-title-nota {
    flex: 2;
    font-size: 1.2rem;
}

.form-text-nota {
    flex: 5;
    min-width: 350px;
    padding: 5px;
    font-size: 0.9rem;
}

.btn-add-nota {
    flex: 1;
    cursor: pointer;
    min-height: 40px;
}