.card-nota { 
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 1px 15px;
    margin: 5px;
    max-width: 350px;
    min-width: 200px;
    cursor: pointer;
    transition: all ease .2s;
    outline: none;
}

.card-nota:hover {
    background-color: rgba(0,0,0,0.03);
    border: 4px solid rgba(0,0,0,0.001);;
}

.card-nota_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-nota_header > * {
    margin: 0;
    padding: 0;
}

.card-nota_category {
    flex: 0 0 100%;
    color: rgba(0,0,0,065);
    background: rgba(0,0,0,0.05);
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
}

.card-nota_icon {
    flex: 0;
    margin-right: 10px;
}

.card-nota_title {
    flex:2;
    margin-right: 5px;
}

.card-nota_time {
    color: rgba(0,0,0,0.5);
}

.card-nota_text {
    color: rgba(0,0,0,0.7);
    margin-top: 5px;
}